<mat-card class="job-card">
  <mat-card-header>
    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-subtitle class="display-flex align-items-center justify-content-even">
      <span>{{ data.companyname }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="display-flex full-width justify-content-even">
        <span class="display-flex align-items-center"><mat-icon>work</mat-icon>{{ (data.experience && data.experience != "") ? data.experience : "Experience not disclosed" }}</span>
        <span class="display-flex align-items-center"><mat-icon>room</mat-icon>{{ data.location }}</span>
    </div>
    <p class="ellipsis display-flex align-items-center">
      <mat-icon>business_center</mat-icon>
      <span matTooltip="{{ data.skills }}">{{ (data.skills != "") ? data.skills : "Skills not specified" }}</span>
    </p>
    <p class="ellipsis display-flex align-items-center">
      <mat-icon>description</mat-icon>
      <span matTooltip="{{ data.jd }}">{{ (data.jd != "") ? data.jd : "No description" }}</span>
    </p>
    <div class="display-flex full-width justify-content-even">
        <span class="display-flex align-items-center"><mat-icon>credit_card</mat-icon>{{ (data.salary == "") ? "Salary not disclosed" : data.salary }}</span>
        <span class="display-flex align-items-center">Expiry: {{ (data.enddate != "") ? data.enddate : "Not disclosed" }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions class="display-flex justify-content-end">
    <button class="main-blue-color" (click)="onNavigate(data);" mat-button>APPLY</button>
  </mat-card-actions>
</mat-card>