.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
    padding: 0.5em;
    align-items: center;
    height: 3em;
    background: #202124;
    color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.title {
    font-weight: 700;
    margin-left: 0.5em;
    font-family: monospace;
    font-size: 20px;
}

.height-2 { height: 2em; }