<header class="header one-edge-shadow">
  <div class="display-flex justify-content-even full-width align-items-center">
    <div class="display-flex align-items-center">
      <img height="40" src="/assets/images/jobs-icon.jpg">
      <span class="title">JOBS</span>
    </div>
    <div class="display-flex align-items-center height-2 search-div">
      <input type="text" class="search-input" placeholder="Search Job">
      <a class="cursor-hand"><mat-icon>search</mat-icon></a>
    </div>
  </div>  
</header>