<app-header></app-header>
<mat-drawer-container>
    <mat-drawer #sideNav class="search-drawer" mode="side" opened>
        <app-search (closeSideNav)="sideNav.close();"></app-search>
    </mat-drawer>
    <mat-drawer-content>
        <div class="display-flex align-items-center justify-content-even margin-right-05
        padding-05 filter-display-container">
            <div class="display-flex align-items-center">
                <mat-icon *ngIf="!sideNav.opened" (click)="sideNav.open();" class="cursor-hand" matTooltip="Filters">filter_list</mat-icon>            
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let chip of arrChipList" selected>
                        <span matTooltip="{{ chip.value }}" class="ellipsis max-width-10">{{ chip.value }}</span>
                        <!-- <mat-icon matChipRemove>cancel</mat-icon> -->
                    </mat-chip>
                </mat-chip-list>
            </div>
            <h3>{{ blnShowingAllJobs ? "Showing All jobs" : "Showing Jobs expiring in the next 7 days"}}</h3>
            <!-- <div class="display-flex align-items-center">
                <a class="display-flex align-items-center">
                    <span class="font-bold secondary-text">Experience</span>
                    <mat-icon class="main-blue-color">{{ 'arrow_upward' }}</mat-icon>
                </a>
                <a class="margin-left-05 display-flex align-items-center">
                    <span class="font-bold secondary-text">Location</span>
                    <mat-icon class="main-blue-color">{{ 'arrow_upward' }}</mat-icon>
                </a>
            </div> -->
        </div>
        <div class="content-container">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </mat-drawer-content>
</mat-drawer-container>